body{

}


.sec{
  margin-bottom: 2.4em;
}

#woz-content{
  min-height: 300px;
}

.site-title a{
  text-decoration: none;
  color: white;
}

td.number{
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  text-align: right;
}


.full-url a{
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: bold;
  font-size: 0.9em;
}

h1.page-title{
  font-size: 3.0em;
  font-weight: bold;
  color: black;
}

.track-info {
    font-family: proxima_nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.track-info .track-name:hover{
    color: #699;

}

.track-info a:hover {
    text-decoration: none;
}

.track-info .track-name{
  font-weight: bold;
    font-size: 1.1rem;
    color: #666;

}

.track-info .album-name{
  font-size: 0.9rem;
    color: #999;
}

img.bobby{
  width: 90px;
  height: 90px;
}


table.table{
  vertical-align: middle;
}
/*.bg-main {*/
  /*background: url(http://samratcliffe.github.io/images/spotifybg.png) no-repeat;*/
  /*background-size: cover;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*top: 0;*/
  /*left: 0;*/
  /*position: fixed;*/
  /*z-index: -1;*/
/*}*/


.search {
  width: 97%;
  max-width: 1280px;
  margin-top: 8em;
  text-align: center;
}

.query-box {
  position: relative;
  z-index: 1;
}

.search-box {
  color: #000;
  min-height: 16em;
}

.inactive .introduction-text {
  max-height: 99em;
  opacity: 1;
}

.introduction-text {
  max-height: 0em;
  opacity: 0;
  transition: max-height 0.3s, opacity 0.3s;
}

.search-box h4 {
  font-size: 2em;
  margin: 1em 0 0 0;
  line-height: 1;
  font-weight: normal;
    font-family: proxima_nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#999;
}

.cancel {
  display: inline-block;
  vertical-align: top;
  width: 4.7em;
  height: 4.7em;
  margin-top: 1em;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  background: url(http://samratcliffe.github.io/images/cancel.svg) no-repeat;
  background-size: contain;
  transform: translate(0em, 0);
  transition-duration: 0.3s;
  transition-delay: 0s;
}

.inactive .cancel {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transform: translate(2em, 0);
}

.search-form {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 7em);
  ;
}

.search-form input.inactive {
  border: 1px solid #999;
  font-size: 1.25em;
  max-width: 18em;
  padding: 0.6em;
}

.main.inactive .search-form input {
  border: 1px solid #999;
  font-size: 1.25em;
  max-width: 18em;
  padding: 0.6em;
}

.search-form input {
  box-sizing: border-box;
  font-family: 'CircularLight', Helvetica, Arial, sans-serif;
  width: 100%;
  max-width: 100%;
  font-size: 3em;
  background: transparent;
  transition: all 0.3s;
  padding: 0 0.2em;
  color: #999;
  border: solid 1px transparent;
  border-bottom: solid 1px #666;
  margin-bottom: 0.1em;
  outline: none;
}

.cover-art .cover-art-image-loaded {
    opacity: 1;
}
.cover-art .cover-art-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover!important;
    background-position: 50%;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.cover-art.shadow {
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.cover-art.actionable {
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    cursor: pointer;
}

.cover-art .cover-art-image .cover-art-image-artist, .cover-art.rounded {
    border-radius: 50%;
    background: no-repeat center center;
    height: 300px;
    width: 300px;
}

.cover-art {
    margin: 0;
    display: block;
    border: 0;
    outline: 0;
    position: relative;
    background-color: #202020;
}