html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #fafafa;
    overflow: scroll;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica;
    margin: 0 0 80px;

    /*width: 100%;*/
    /*height: 100%;*/
}

#body {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#chart, #header, #footer {
    position: absolute;
    top: 0;
}

#header, #footer {
    z-index: 1;
    display: block;
    font-size: 23px;
    font-weight: 300;
    text-shadow: 0 1px 0 #fff;
}

#header.inverted, #footer.inverted {
    color: #fff;
    text-shadow: 0 1px 4px #000;
}

.footer {
    z-index: 3;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    background-color: #f9f9f9;
}

.container {
    width: auto;
    max-width: 680px;
    /*padding: 0 15px;*/
}

.container .text-muted {
    /*margin: 20px 0;*/
}

#header {
    top: 20px;
    left: 10px;
    width: 300px;
    text-align: left;
}

#footer {
    top: 520px;
    right: 10px;
    width: 300px;
    text-align: right;
}

rect {
    fill: none;
    pointer-events: all;
}

pre {
    font-size: 18px;
}

line {
    stroke: #000;
    stroke-width: 1.5px;
}

.string, .regexp {
    color: #f39;
}

.keyword {
    color: #00c;
}

.comment {
    color: #777;
    font-style: oblique;
}

.number {
    color: #369;
}

.class, .special {
    color: #1181B8;
}

a:link, a:visited {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color: #666;
}

.hint {
    position: absolute;
    right: 0;
    /*width: 1280px;*/
    font-size: 12px;
    color: #999;
}

.node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 12px;
}

path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.sidebar.right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 360px;
    z-index: 2;
    overflow: scroll;
    background: #f9f9f9;
}

.sidebars > .sidebar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
    position: fixed;
    color: white;
    padding: 30px;
    font-size: 2em;
    text-align: center;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}