<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SongTaste</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename = 'img/favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='../css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='../css/mystyles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../css/style.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='../css/bootstrap-select.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='../css/narrow-jumbotron.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='../css/jquery.loading.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='../css/jquery.tagsinput.css')}}">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <script src="{{url_for('static', filename='../js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='../js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='../js/bootstrap-select.min.js')}}"></script>
    <script src="{{ url_for('static', filename='../js/jquery.sidebar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='../js/d3.v3.min.js') }}"></script>
    <script src="{{url_for('static', filename='../js/jquery.loading.min.js')}}"></script>
    <script src="{{url_for('static', filename='../js/jquery.tagsinput.js')}}"></script>

</head>
<body>

{% include 'partials/header.html' %}
