{% include 'partials/head.html' %}

<section id="woz-content">
    {% set imageUrl = '/img/artist.png' %}
    <div class="container">
        {% if type == 'track' %}
            <div class="row">
                {% if results | length > 0 %}
                    {% if results[0].album.images | length > 1 %}
                        {% set imageUrl = results[0].album.images[1].url %}
                    {% endif %}
                    <div class="col-sm-4 cover-art-image cover-art-image-loaded cover-art shadow rounded actionable"
                         style="background: url({{ imageUrl }});
                                 background-repeat: no-repeat; background-position: center">
                    </div>
                {% else %}
                    <section class="search">
                        <div class="search-box">
                            <div class="cancel"></div>
                            <form class="search-form" action="search" method='POST'>
                                <div class="query-box">
                                    <input class="query-input" type=text name=artist
                                           placeholder="Sorry, no result found">
                                </div>
                            </form>
                        </div>
                    </section>
                {% endif %}

                <div class="col-sm-8">
                    <table class="search-results table table-condensed table-striped">
                        {% for item in results %}
                            <tr>
                                <td>
                                    <div class="track-info">
                                        <a href="{{ url_for('track', artist_id=item.artists[0].id, track_id=item.id) }}">
                                            <div class="track-name"> {{ item.name }} </div>
                                        </a>
                                        <div class="album-name"> {{ item.artists[0].name }}
                                            • {{ item.album.name }} </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

        {% else %}
            <div class="row">
                {% for item in results %}
                    {% if item is not none %}
                        <div class="col-md-6">
                            <a href={{ url_for('artist', id=item.id) }}>
                                {% if item.images | length > 1 %}
                                    {% set imageUrl = item.images[1].url %}
                                    {% if item.images[1].height > item.images[1].width %}
                                        {% set direction = "portrait" %}
                                    {% else %}
                                        {% set direction = "landscape" %}
                                    {% endif %}
                                {% endif %}
{#                                <div class="cover-art-image cover-art-image-loaded cover-art shadow rounded actionable"#}
{#                                     style="background-image: url({{ imageUrl }})">#}
{#                                </div>#}
                                <div class="cover-art-image cover-art-image-loaded cover-art shadow rounded actionable" style="width: 323px; height: 323px; object-position: center; display: inline-block; overflow: hidden">
                                    <img class="{{ direction }}" src="{{ imageUrl }}">
                                </div>
                            </a>
                            <div class="track-info">
                                <a href="{{ url_for('artist', id=item.id) }}">
                                    <div class="track-name text-center"
                                         style="margin-left: -15px; padding-bottom: 20px; padding-top: 20px"> {{ item.name }} </div>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        {% endif %}
    </div>
</section>

<script>
    function loaded() {
        alert(this.height)
    }
</script>

{% include 'partials/foot.html' %}
