{% include 'partials/head.html' %}

<div class="sidebars">
    <div class="sidebar right">
        <div class="radarChart" style="margin-left: -72px">
        </div>
        <div class="single-tags" id="tags"></div>
        <div style="margin-left: 20px">
            <div class="row">
                <input type="checkbox" id="root" class="checkbox" onclick="toggleRadarRoot()">
                <label id="radarRoot" for="root" style="color: #000;"></label>
            </div>
            <div class="row">
                <input type="checkbox" id="current" class="checkbox" onclick="toggleRadarCurrent()">
                <label id="radarCurrent" for="current" style="color: #000"></label>
            </div>
            <div class="row">
                <input type="checkbox" id="parent" class="checkbox" onclick="toggleRadarParent()">
                <label id="radarParent" for="parent" style="color: #000"></label>
            </div>
        </div>


        <script src="{{ url_for('static', filename='../js/radarChart.js') }}"></script>
    </div>
</div>

<section id="woz-content">
    <div id="body">
        <div id="header">
            Click on a circle to compare the recommended song with what you like.
            <p>Double Click to recommend more like the song you choose.
        </div>
        <div id="footer">
            <div class="hint"><p>This is an overview of tools available for building web-based data visualisations and
                is
                for a presentation by <a href="http://animateddata.co.uk/">Peter Cook</a> at <a
                        href="http://www.meetup.com/Data-Visualisation-Brighton/">Data Visualisation Brighton</a>.</p>
                <p>It is not comprehensive. If you feel there's a glaring omission please <a
                        href="http://animateddata.co.uk/contact/">contact me</a>. (For a more comprehensive list try
                    Andy
                    Kirk's <a href="http://www.visualisingdata.com/index.php/resources/">Visualising Data</a>.)</p>
                <p>This is an adaptation of Mike Bostock's D3 tree layout <a
                        href="http://mbostock.github.io/d3/talk/20111018/tree.html">example</a>. Thanks Mike :)</p>
                <p>Click a circle to expand or collapse. Grey indicates not free.</p>
                <p>I'm available <a href="http://animateddata.co.uk/contact">for hire</a>.</p>
                <p><a href="http://animateddata.co.uk/training">Find out</a> about my <a
                        href="http://animateddata.co.uk/training">data visualisation workshops</a></p>.
            </div>
        </div>
    </div>

</section>
{#{% include 'partials/foot.html' %}#}

<footer class="footer noselect">
    {#    {% if t.album.images[0].height > t.album.images[0].width %}#}
    {#        {% set direction = "portrait" %}#}
    {#    {% else %}#}
    {#        {% set direction = "landscape" %}#}
    {#    {% endif %}#}
    {#    <div class="row">#}
    <div style="margin-left: 32px; margin-top: -16px; width: 64px; height: 64px; object-position: center; display: inline-block; overflow: hidden; float: left;">
        <img id="thumbnail" class=""
             src="http://pic3.178.com/1030/10308342/month_1704/0c4120df33d4a6fc5e79b1ab54ec5649.png">
    </div>
    <div style="float: left; margin-left: 6px; margin-top: -9px">
        <h5 id="track_name"></h5>
        <h6 id="artist_name" style="margin-top: 2px"></h6>
    </div>
    <div class="container">
        {#        <a href="#" class="btn btn-primary" data-action="toggle" data-side="right"><span>Toggle Right</span></a>#}
        <audio id="audio" controls style="width: 100%">
            <source id="mpeg_source" src="" type="audio/mpeg">
        </audio>
    </div>
    {#        </div>#}
</footer>

<script>

    var body = $('body');
    body.loading();

    var track_name = document.getElementById("track_name");
    var artist_name = document.getElementById("artist_name");

    var thumbnail = document.getElementById("thumbnail");

    var sidebar = $(".sidebar.right");
    // Sidebar on right side
    sidebar.sidebar({side: "right"});
    // Click handlers
    {#    $(".btn[data-action]").on("click", function () {#}
    {#        var $this = $(this);#}
    {#        var action = $this.attr("data-action");#}
    {#        var side = $this.attr("data-side");#}
    {#        $(".sidebar." + side).trigger("sidebar:" + action);#}
    {#        return false;#}
    {#    });#}

    var audio = document.getElementById("audio");
    var source = document.getElementById("mpeg_source");
    audio.volume = 0.5;

    var m = [40, 160, 40, 160],
        w = 1280 - m[1] - m[3],
        h = 800 - m[0] - m[2],
        i = 0,
        root, playing, rootTmp = {}, playingTmp = {}, parentTmp = {};
    var tree = d3.layout.tree()
        .size([h, w]);
    var diagonal = d3.svg.diagonal()
        .projection(function (d) {
            return [d.y, d.x];
        });
    var vis = d3.select("#body").append("svg:svg")
        .attr("width", w + m[1] + m[3])
        .attr("height", h + m[0] + m[2])
        .append("svg:g")
        .attr("transform", "translate(" + m[3] + "," + m[0] + ")");

    function startPlay(preview_url) {
        if (source.src !== preview_url) {
            source.src = preview_url;
            audio.load();
            audio.play();
            return true;
        }
        return false;
    }

    function toggleSideBar() {
        sidebar.trigger("sidebar:toggle");
    }
    function openSideBar() {
        sidebar.trigger("sidebar:open");
    }
    function closeSideBar() {
        sidebar.trigger("sidebar:close");
    }

    function setThumbnail(song) {
        var image = song.image;

        thumbnail.src = image.url;
        if (image.height > image.width) {
            thumbnail.className = "portrait";
        } else {
            thumbnail.className = "landscape";
        }


        var songname = song.name;
        if (song.name.length > 28) {
            songname = song.name.substr(0, 24).trim() + "...";
        }

        track_name.innerText = songname;
        artist_name.innerText = song.artist.name;
    }

    {#    d3.json("/data/recdata.json", function (json) {#}
    {#    alert("{{ recommendation }}");#}

    d3.json("/recommendation/{{ artist_id }}/{{ track_id }}", function (json) {
        body.loading('stop');
        root = json;
        root.x0 = h / 2;
        root.y0 = 0;
        function toggleAll(d) {
            if (d.children) {
                d.children.forEach(toggleAll);
                toggle(d);
            }
        }

        if (startPlay(root.preview_url)) {
            playing = root;
            setThumbnail(root);
        }


        // Initialize the display to show a few nodes.
//         root.children.forEach(toggleAll);
//         toggle(root._children[1]);
//         toggle(root._children[1]._children[2]);
//         toggle(root._children[9]);
//         toggle(root._children[9]._children[0]);
        toggleAll(root);
        toggle(root);
        update(root);
        initTmps();
    });
    function update(source) {
        var duration = d3.event && d3.event.altKey ? 5000 : 500;
        // Compute the new tree layout.
        var nodes = tree.nodes(root).reverse();
        // Normalize for fixed-depth.
        nodes.forEach(function (d) {
            d.y = d.depth * 180;
        });
        // Update the nodes…
        var node = vis.selectAll("g.node")
            .data(nodes, function (d) {
                return d.id || (d.id = ++i);
            });
        // Enter any new nodes at the parent's previous position.
        var nodeEnter = node.enter().append("svg:g")
            .attr("class", "node")
            .attr("transform", function (d) {
                return "translate(" + source.y0 + "," + source.x0 + ")";
            })
            .on("click", function (d) {
                if (startPlay(d.preview_url)) {
                    playing = d;
                    setThumbnail(d);
                    renderRadar();
                }
                if (d !== root) {
                    openSideBar();
                } else {
                    closeSideBar();
                }
            })
            .on("dblclick", function (d) {
                if (d !== root) {
                    body.loading();
                    toggle(d);
                    update(d);
                    body.loading('stop');
                }
            })
        ;
        nodeEnter.append("svg:circle")
            .attr("r", 1e-6)
            .style("fill", function (d) {
                return d._children ? "lightsteelblue" : "#fff";
            });
        nodeEnter.append('a')
            .classed('noselect', true)
            .attr('xlink:href', function (d) {
                return d.url;
            })
            .append("svg:text")
            .attr("x", function (d) {
                return d.children || d._children ? -10 : 10;
            })
            .attr("dy", ".35em")
            .attr("text-anchor", function (d) {
                return d.children || d._children ? "end" : "start";
            })
            .text(function (d) {
                if (d.name.length > 28) {
                    return d.name.substr(0, 25).trim() + "...";
                }
                return d.name;
            })
            .style('fill', function (d) {
                {#                if (d.preview_url === null) {#}
                {#                    return '#999';#}
                {#                } else {#}
                {#                    if (playing === d) {#}
                {#                        return 'blue';#}
                {#                    } else {#}
                {#                        return 'black';#}
                {#                    }#}
                {#                }#}
                return d.preview_url !== null ? 'black' : '#999';
            })
            .style("fill-opacity", 1e-6);
        nodeEnter.append("svg:title")
            .text(function (d) {
                return d.description;
            });
        // Transition nodes to their new position.
        var nodeUpdate = node.transition()
            .duration(duration)
            .attr("transform", function (d) {
                return "translate(" + d.y + "," + d.x + ")";
            });
        nodeUpdate.select("circle")
            .attr("r", 8)
            .style("fill", function (d) {
                return d._children ? "lightsteelblue" : "#fff";
            });
        nodeUpdate.select("text")
            .style("fill-opacity", 1);
        // Transition exiting nodes to the parent's new position.
        var nodeExit = node.exit().transition()
            .duration(duration)
            .attr("transform", function (d) {
                return "translate(" + source.y + "," + source.x + ")";
            })
            .remove();
        nodeExit.select("circle")
            .attr("r", 1e-6);
        nodeExit.select("text")
            .style("fill-opacity", 1e-6);
        // Update the links…
        var link = vis.selectAll("path.link")
            .data(tree.links(nodes), function (d) {
                return d.target.id;
            });
        // Enter any new links at the parent's previous position.
        link.enter().insert("svg:path", "g")
            .attr("class", "link")
            .attr("d", function (d) {
                var o = {x: source.x0, y: source.y0};
                return diagonal({source: o, target: o});
            })
            .transition()
            .duration(duration)
            .attr("d", diagonal);
        // Transition links to their new position.
        link.transition()
            .duration(duration)
            .attr("d", diagonal);
        // Transition exiting nodes to the parent's new position.
        link.exit().transition()
            .duration(duration)
            .attr("d", function (d) {
                var o = {x: source.x, y: source.y};
                return diagonal({source: o, target: o});
            })
            .remove();
        // Stash the old positions for transition.
        nodes.forEach(function (d) {
            d.x0 = d.x;
            d.y0 = d.y;
        });
    }
    // Toggle children.
    function toggle(d) {
        if (d.children) {
            d._children = d.children;
            d.children = null;
        } else {
            d.children = d._children;
            d._children = null;
        }
    }

    function renderRadar() {
        /* Radar chart design created by Nadieh Bremer - VisualCinnamon.com */
        var margin = {top: 100, right: 100, bottom: 100, left: 100},
            width = 250;
        height = 250;

        var data = setupRadar(root.features, playing.features, playing.father.features);

        // EDC951 seed, CC333F current, 00A0B0 parent
        var color = d3.scale.ordinal()
            .range(["#00A0B0", "#CC333F", "#EDC951"]);

        var radarChartOptions = {
            w: width,
            h: height,
            margin: margin,
            maxValue: 0.5,
            levels: 5,
            roundStrokes: true,
            color: color
        };
        //Call function to draw the Radar chart
        RadarChart(".radarChart", data, radarChartOptions);
        document.getElementById('radarRoot').innerHTML = root.name.substring(0, 40);
        document.getElementById('radarCurrent').innerHTML = playing.name.substring(0, 40);
        document.getElementById('radarParent').innerHTML = playing.father.name.substring(0, 40);
        addTags();
    }

    function addTags() {
        var mydiv = document.getElementById("tags");
        while (mydiv.hasChildNodes()) {
            mydiv.removeChild(node.lastChild);
        }
{#        playing.artist.genres#}
        var aTag = document.createElement('a');
        aTag.innerHTML = "link text";
        mydiv.appendChild(aTag);
    }

    function initTmps() {
        rootTmp.danceability = 0;
        rootTmp.energy = 0;
        rootTmp.liveness = 0;
        rootTmp.loudness = -60;
        rootTmp.tempo = 0;
        rootTmp.valence = 0;

        playingTmp.danceability = 0;
        playingTmp.energy = 0;
        playingTmp.liveness = 0;
        playingTmp.loudness = -60;
        playingTmp.tempo = 0;
        playingTmp.valence = 0;

        parent.danceability = 0;
        parent.energy = 0;
        parent.liveness = 0;
        parent.loudness = -60;
        parent.tempo = 0;
        parent.valence = 0;
    }

    function toggleRadarRoot() {
        var tmp = clone(root.features);
        root.features = rootTmp;
        rootTmp = tmp;
        renderRadar();
    }

    function toggleRadarCurrent() {
        var tmp = clone(playing.features);
        playing.features = playingTmp;
        playingTmp = tmp;
        renderRadar();
    }

    function toggleRadarParent() {
        var tmp = clone(playing.father.features);
        playing.father.features = parentTmp;
        parentTmp = tmp;
        renderRadar();
    }

    function setupRadar(d0, d1, d2) {
        var input = [d0, d1, d2];
        var output = [];
        var top = {};
        {#        top['acousticness'] = max(input[0].acousticness, input[1].acousticness);#}
        {#        top['danceability'] = max(input[0].danceability, input[1].danceability);#}
        {#        top['energy'] = max(input[0].energy, input[1].energy);#}
        {#        top['instrumentalness'] = max(input[0].instrumentalness, input[1].instrumentalness);#}
        {#        top['liveness'] = max(input[0].liveness, input[1].liveness);#}
        {#        top['loudness'] = max(input[0].loudness, input[1].loudness) + 60;#}
        {#        top['tempo'] = max(input[0].tempo, input[1].tempo);#}
        {#        top['valence'] = max(input[0].valence, input[1].valence);#}
        {##}
        {#        for (var i = 0; i < 2; i++) {#}
        {#            output.push([#}
        {#                {axis: "acousticness", value: input[i].acousticness / top['acousticness']},#}
        {#                {axis: "danceability", value: input[i].danceability / top['danceability']},#}
        {#                {axis: "energy", value: input[i].energy / top['energy']},#}
        {#                {axis: "instrumentalness", value: input[i].instrumentalness / top['instrumentalness']},#}
        {#                {axis: "liveness", value: input[i].liveness / top['liveness']},#}
        {#                {axis: "loudness", value: (input[i].loudness + 60) / top['loudness']},#}
        {#                {axis:"speechiness",value:input[i].speechiness},#}
        {#                {axis: "tempo", value: input[i].tempo / top['tempo']},#}
        {#                {axis: "valence", value: input[i].valence / top['valence']}])#}
        {#        }#}


        for (var i = 0; i < 3; i++) {
            output.push([
                {#                {axis: "acousticness", value: input[i].acousticness},#}
                {axis: "danceability", value: input[i].danceability},
                {axis: "energy", value: input[i].energy},
                {#                {axis: "instrumentalness", value: input[i].instrumentalness},#}
                {axis: "liveness", value: input[i].liveness},
                {axis: "loudness", value: (input[i].loudness + 60) / 60},
                {#                {axis:"speechiness",value:input[i].speechiness},#}
                {axis: "tempo", value: input[i].tempo / 200},
                {axis: "valence", value: input[i].valence}])
        }
        return output;
    }

    function clone(obj) {
        if (null == obj || "object" != typeof obj) return obj;
        var copy = obj.constructor();
        for (var attr in obj) {
            if (obj.hasOwnProperty(attr)) copy[attr] = obj[attr];
        }
        return copy;
    }
</script>