{% include 'partials/head.html' %}

<div class="container">
    <div class="main inactive">
        <h2>User Test</h2>
        <p>At first, we planned to only recommend one song to the user. But during the user testing, some users pointed
            out that they want to get more similar songs, not only one song. We were interested in how many recommended
            songs do users usually hope to get. We investigated about 15 users and asked them how many similar songs do
            they hope to get. The answer varied. Some people said they wish to get about 3 recommended songs, others
            said they wish to get more. Some also pointed out that they hope to get more similar songs based on the
            recommended songs.
        </p>
        <p>
            Based on users’ answers, we think of a way that can cover different users’ wishes. We recommend songs in a
            “continuous” way. We refresh the webpages every time the user clicks on a recommended song’s name and give
            the user another 3 recommended songs listed on the webpage. In this way, the user can continuously get more
            and more similar songs based on the clicked former recommended song until they are satisfied with the number
            of songs they get. We did user testing again. This time, some users indicated that they hope to go back to
            the old webpage to listen to and check about the former recommended songs. They said that it’s hard to keep
            clicking back. They still wish to see all recommended songs in one webpage.
        </p>
        <p>
            We collected the feedbacks and thought for a long time about how to meet the users’ wishes. Finally, we got
            some inspirations from the tree data structure. We design a tree-like structure for recommendation as shown
            in this website. The tree can show all the recommended songs in one webpage in a very clear way, and at the
            same time, it can do continuous recommendations when the user keeps clicking the song and the user can keep
            getting recommended songs until they are okay to stop.
            We also do user-testing for the radar chart. The feedbacks are very positive. All the users say they like
            this interactive way of showing how the chosen songs are similar and why we recommend these songs to them.
        </p>
    </div>
</div>

{% include 'partials/foot.html' %}
